.skills {
  color: white;
  background-color: var(--black);
  padding: 40px 0px;
}

.skill {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 0px 2%;
  padding: 100px 0px 80px 0px;
  text-align: center;
}

.skill h4 {
  font-family: var(--ff-main);
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 0.08rem;
  display: inline-block;
}

.skill p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0.02rem;
}

.skill div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 30px 30px 30px;
  transition: all 0.5s;
}

.skill div:hover {
  box-shadow: var(--light-shadow);
  transform: scale(1.05);
}

@media (max-width: 1000px) {
  .skill h4 {
    font-size: 1.5rem;
  }

  .skill div {
    padding: 20px;
  }
}

@media (max-width: 900px) {
  .skill {
    grid-template-columns: 1fr 1fr;
  }

  .digital {
    grid-column: 1 /-1;
  }
  .digital p {
    max-width: 500px;
  }
}

@media (max-width: 700px) {
  .skill {
    grid-template-columns: 1fr;
  }
  .skill div:hover {
    box-shadow: none;
    transform: none;
  }
}

@media (max-width: 610px) {
  .skills h3 {
    font-size: 3.7rem;
  }
  .skills h3::after {
    left: -200px;
    width: 80px;
  }
}

@media (max-width: 560px) {
  .skills h3 {
    padding: 80px 0px 40px 80px;
    margin-right: 60px;
  }
  .skills h3::after {
    left: 0px;
    top: -30px;
    width: 80px;
  }
}

@media (max-width: 500px) {
  .skills h3 {
    font-size: 2.8em;
    padding: 70px 0px 70px 80px;
  }
  .skills h3::after {
    left: 0px;
    top: -10px;
    width: 80px;
  }
}

@media (max-width: 415px) {
  .skills h3 {
    font-size: 2.2rem;
    padding: 70px 0px 70px 60px;
  }
}

@media (max-width: 370px) {
  .skills h3 {
    margin-right: 70px;
  }
}
